nav{
    height: 80px;
}

a{
    width: 900px;
    margin: auto;
    align-items: center;
    text-align: center;
    float:left;
    
  
}

.Total{
   
    width: 200px;
    height: 30px;
    background-color: rgb(212, 60, 60);
    border-radius: 5px;
    color: white;
    text-align: center;
    margin-left:60px;
    float:left;
    margin-top: 10px;
 
}

.backCart{
    background-color: #fff;
    width: 45px;
    height: 45px;
    margin-right:20px;
    border-radius: 50%;
    border: 1px solid #adb6c7;
    transition: all ease-in-out .5s;
    margin-top:2px;

}

.Cart{
    
    transform: scale(1.4,1.4);
    color: #adb6c7;
    transition: all ease-in-out .5s;
  
}
.Cart:hover{
    color: #fff;
   
}
.backCart:hover{
    color: #fff;
    background: rgb(212, 60, 60);
    border-color: rgb(212, 60, 60);
}

p{
    color:rgb(80, 80, 255);
    width: 100px;
    height: 30px;
    border:1px solid rgb(80, 80, 255);
    float: right;
    margin-right: 200px;
    margin-left: -200px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px;

}